{% extends 'core/base.html' %}

{% load markdown_extras %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">📒</h2>
    <ul>
        {% for note in notes %}
        <li class="mb-4 p-4 border border-gray-200 rounded-lg">
            <h3 class="text-xl font-bold mb-2">{{ note.title }}</h3>
            <div class="text-gray-600 mb-2" id="note-preview-{{ forloop.counter }}" data-index="{{ forloop.counter }}">
                {{ note.short_summary }}...
            </div>
            <div class="hidden" id="note-full-{{ forloop.counter }}" data-index="{{ forloop.counter }}">
                {{ note.data_sanitized_md|markdown_to_html|safe }}
            </div>
            <button class="text-blue-600 hover:underline mt-2" data-index="{{ forloop.counter }}" onclick="toggleNoteContent(this)">
                Expand
            </button>
        </li>
        {% empty %}
        <li>No notes found.</li>
        {% endfor %}
    </ul>
</div>

<script>
function toggleNoteContent(button) {
    const index = button.getAttribute('data-index');
    const preview = document.getElementById(`note-preview-${index}`);
    const fullContent = document.getElementById(`note-full-${index}`);

    if (fullContent.classList.contains('hidden')) {
        preview.classList.add('hidden');
        fullContent.classList.remove('hidden');
        button.textContent = 'Collapse';
    } else {
        preview.classList.remove('hidden');
        fullContent.classList.add('hidden');
        button.textContent = 'Expand';
    }
}
</script>
{% endblock %}
