{% extends 'core/base.html' %}
{% load markdown_extras %}

{% block content %}
<div class="flex mx-auto w-11/12 max-w-7xl pt-32" style="overflow: hidden;">
    {% if current_note %}
    <div class="w-1/2 pr-4 flex">
        <div class="w-full overflow-hidden">
            {% include 'core/note_detail.html' with note=current_note %}
        </div>
    </div>

    <div class="w-1/2 pl-4 flex">
        <div class="bg-white rounded-lg shadow-md p-6 w-full" style="min-height: 80vh;">
            <h2 class="text-2xl font-bold mb-4">Related Notes</h2>
            <ul>
                {% for note in related_notes %}
                    {% include 'core/note_item_small.html' with note=note counter=forloop.counter %}
                {% empty %}
                    <li class="text-gray-500">No related notes found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="flex justify-center items-center w-full h-full">
        <div class="text-center">
            <p class="text-6xl">😿</p>
            <p class="text-2xl mt-4 text-gray-700">Wow such empty, you should add some notes...</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
